body {
    background-color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.desktop-wrapper {
    background-image: url('../images/bg.png');
    background-size: cover;
}

#nav {
    min-height: 25px;
    background-color: #ecf0f1;
    -webkit-box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.75);
}

#nav a{
    padding: 5px 10px 5px 10px;
    max-height: 30px;
}

#nav a:hover {
    cursor: default;
}

.navbar-brand{
    padding: 5px 10px;
    margin-left: 5px;
    height: 20px;
    display: inline;
}

.dropdown {
    color: #777;
    padding-top: 5px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #c8e5a5;
    color: black;
}

.dropdown a {
    color: #777;
}

.dropdown a:hover {
    text-decoration: none;
}

.dropdown-menu.os-dropdown {
    margin-top: 11px;
}

.dropdown-menu {
    margin-top: 6px;
    background-color: #ecf0f1;
    border-radius: 0 0 5px 5px;
}

.dropdown-menu>li>a {
    color: #777;
}

.disabled.full-time>a {
    color: #aaa;
}

.navbar-right {
    padding-right: 20px;
}

#logo{
    width: 20px;
}

#nav-search {
    font-size: 20px;
}

.remodal-overlay {
    background-color: rgba(0,0,0,0)
}

.remodal {
    width: 40%;
    padding: 0;
    -webkit-box-shadow: 2px 18px 64px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 18px 64px -4px rgba(0,0,0,0.58);
    box-shadow: 2px 18px 64px -4px rgba(0,0,0,0.58);
    border-radius: 5px;
}

.form-control {
    height: 50px;
}

.desktop-wrapper {
    margin-top: 31px;
    position: fixed;
    width: 100%;
    height: 100%;
}

.maximized {
    margin: 0px;
    min-width: 99%;
    height: 99%;
    z-index: 2000;
    overflow: hidden;
}

.window-resize-list {
    padding: 0;
}








/* Disabling Bootstrap nav collapse */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}